.navbar{
		margin-bottom:0;
		border-radius:0;
		background-color:#00000;
		color:#99ffcc;
		padding:1%;
		font-size:1.2em;
		border:0;
	}
  
	.navbar-brand{
		float:left;
		min-heigt:50px;
		padding:0 10px ;
		margin-bottom:10px;
	}
	
	.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, navbar-inverse .navbar-nav .active a:hover{
		color:#99ddff;
		background-color: transparent;
	}
	
	.navbar-inverse .navbar-nav li a{
		cursor:pointer;
		color:#d9d9d9;
	}
	
	.carousel-caption{
		top:50%;
		transform:translateY(-50%);
	}
		
	@media (max-width:900px){
		.fa{
			font-size:20px;
			padding:10px;}
	}
	
	@media (max-width:600px){
		.carousel-caption{display-none;}
		#icon{
			max-width:150px;
		}
		h2{
			font:1.7em;
		}
	}